<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" th:replace="admin/cursos :: cursos (~{::section}, ~{})">
<head th:replace="fragments/head::head ('Cursos')" />

<body class="hold-transition sidebar-mini">
	
	<!-- Seccion tabla LISTA DE USUARIOS -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
       
					<div class="card">
						<div class="card-header">
							<h3 class="card-title font-weight-bold">CURSOS DISPONIBLES</h3>
						</div>
        				<!-- /.card-header -->
            					
       					<div class="card-body">
							<table class="table table-bordered">
           						<thead>
									<tr>
										<th style="width: 10px">#</th>
                    					<th>Nombre del Curso</th>
                    					<th style="width: 40px">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>[id]</td>
										<td>[nombre del curso]</td>
										<td>
											<div class="btn-group">
						                        <button type="button" class="btn btn-default"><i class="nav-icon fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger"><i class="nav-icon fas fa-trash-alt"></i></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							
						</div>
						<!-- /.card-body -->
						
						<div class="card-footer text-muted">
							<a class="btn btn-info float-right" href="#" role="button">
								<i class="nav-icon fas fa-user-plus"></i>
								Nuevo Usuario
							</a>
						</div>
					</div>
       
				</div>
			</div>
		</div>
	</section>
	<!-- /. Seccion tabla LISTA DE USUARIOS -->
	
	<script th:src="@{/js/admin/cursos-listado.js}"></script>
	
</body>
</html>
