<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" th:replace="admin/usuarios :: usuarios (~{::section}, ~{::script})">
<head th:replace="fragments/head::head ('Usuarios')" />

<body class="hold-transition sidebar-mini">
	
	<!-- Seccion tabla LISTA DE USUARIOS -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
       
					<div class="card">
						<div class="card-header">
							<h3 class="card-title font-weight-bold">USUARIOS DEL SISTEMA</h3>
						</div>
        				<!-- /.card-header -->
            					
       					<div class="card-body">
							<table class="table table-bordered">
           						<thead>
									<tr>
										<th style="width: 10px">#</th>
                    					<th>Nombre de usuario</th>
                    					<th>Nombre y Apellido</th>
                    					<th>Email</th>
                    					<th>Roles</th>
                    					<th style="width: 40px">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="usuario : ${usuarios}">
										<td th:text="${usuario.id}">[id]</td>
										<td th:text="${usuario.username}">[nombre de usuario]</td>
										<td th:text="${usuario.denominacion}">[nombre y apellido]</td>
										<td th:text="${usuario.email}">[email]</td>
										
										<td th:if="${#lists.isEmpty(usuario.roles)}">SIN ROLES ASIGNADOS</td>
										<td th:unless="${#lists.isEmpty(usuario.roles)}" th:text="${#strings.listJoin(usuario.roles, ',')}" >[roles]</td>
										
										<td>
											<div class="btn-group">
						                        <a class="btn btn-default" th:href="@{'/admin/usuarios/' + ${usuario.id} + '/frm'}" role="button">
													<i class="nav-icon fas fa-edit"></i>
												</a>
												<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete"
														th:data-id="${usuario.id}" th:data-usuario="${usuario.denominacion}" >
													<i class="nav-icon fas fa-trash-alt"></i>
												</button>
											</div>
										</td>
									</tr>
									<tr th:if="${#lists.isEmpty(usuarios)}">
										<td colspan="6">
											<span class="badge badge-warning">No hay Usuarios para mostrar</span>
											
										</td>
									</tr>
								</tbody>
							</table>
							
						</div>
						<!-- /.card-body -->
						
						<div class="card-footer text-muted">
							<a class="btn btn-info float-right" th:href="@{/admin/usuarios/frm}" role="button">
								<i class="nav-icon fas fa-user-plus"></i>
								Nuevo Usuario
							</a>
						</div>
					</div>
       
				</div>
			</div>
		</div>
		
		
		<!-- Modal: Confirmar eliminacion usuario -->
		<div class="modal fade show" id="modal-delete" data-backdrop="static" style="display: none; padding-right: 19px;" aria-modal="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Eliminar <strong>USUARIO</strong></h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Esta seguro que desea eliminar permanentemente el usuario seleccionado?</p>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary btn-delete-confirm">Confirmar</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		
	</section>
	<!-- /. Seccion tabla LISTA DE USUARIOS -->
	
	<script th:src="@{/js/admin/usuarios-listado.js}"></script>
	
</body>
</html>
