<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" th:replace="admin/usuarios :: usuarios (~{::section}, ~{::script})">
<head th:replace="fragments/head::head ('Usuarios')" />

<body class="hold-transition sidebar-mini">
	
	<!-- Seccion tabla LISTA DE USUARIOS -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-12">
       
					<div class="card">
						<div class="card-header">
							<h3 class="card-title font-weight-bold">USUARIOS DEL SISTEMA</h3>
						</div>
        				<!-- /.card-header -->
            					
       					<div class="card-body">
							<table class="table table-bordered">
           						<thead>
									<tr>
										<th style="width: 10px">#</th>
                    					<th>Nombre de usuario</th>
                    					<th>Nombre y Apellido</th>
                    					<th>Email</th>
                    					<th>Roles</th>
                    					<th style="width: 40px">Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="usuario : ${usuarios}">
										<td th:text="${usuario.id}">[id]</td>
										<td th:text="${usuario.username}">[nombre de usuario]</td>
										<td th:text="${usuario.denominacion}">[nombre y apellido]</td>
										<td th:text="${usuario.email}">[email]</td>
										
										<td th:if="${#lists.isEmpty(usuario.roles)}">SIN ROLES ASIGNADOS</td>
										<td th:unless="${#lists.isEmpty(usuario.roles)}" th:text="${#strings.listJoin(usuario.roles, ',')}" >[roles]</td>
										
										<td>
											<div class="btn-group">
						                        <button type="button" class="btn btn-default"><i class="nav-icon fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger"><i class="nav-icon fas fa-trash-alt"></i></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							
						</div>
						<!-- /.card-body -->
						
						<div class="card-footer text-muted">
							<a class="btn btn-info float-right" th:href="@{/admin/usuarios/frm}" role="button">
								<i class="nav-icon fas fa-user-plus"></i>
								Nuevo Usuario
							</a>
						</div>
					</div>
       
				</div>
			</div>
		</div>
	</section>
	<!-- /. Seccion tabla LISTA DE USUARIOS -->
	
	<script th:src="@{/js/admin/usuarios-listado.js}"></script>
	
</body>
</html>
